@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body 
{
    background-image: url(../Assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    color: #f7597e;
    font-size: xx-large;
    font-family: "Raleway", sans-serif;
}